@media only screen and (max-width: 1340px) {
  body {
    padding: 0 20px;
  }
}


@media only screen and (max-width: 1200px) {
  .container.body-section {
    flex-flow: row wrap;
  }

  .main {
    box-sizing: border-box;
    padding-right: 0;
    width: calc(100% - 250px);
  }

  .right-sidebar {
    padding-left: 0;
    width: 100%;
  }

  .footer-top {
    flex-flow: row wrap;
  }

  .footer-widget {
    width: calc(50% - 10px);

    &:nth-child(2n) {
      margin: 0 0 20px 10px;
    }

    &:nth-child(2n+1) {
      margin: 0 10px 20px 0;
    }
  }
}

@media only screen and (max-width: 960px) {
  body {
    background-image: none;
  }

  .main {
    order: 1;
    padding-left: 0;
    width: 100%;
  }

  .left-sidebar {
    order: 2;
    width: 50%;
  }

  .right-sidebar {
    padding-left: 10px;
    width: 50%;
  }
}


@media only screen and (max-width: 768px) {
  .header-menu {
    &__list {
      display: none;
      width: 100%;
    }

    li {
      float: none;
    }

    a{
      display: block;
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      text-align: center;
    }

    &__item.active a {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .header-menu__btn {
    display: flex;
  }

  .left-sidebar {
    padding-right: 0;
    width: 100%;
  }

  .right-sidebar {
    padding-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .header-logo__image {
    display: none;
  }

  .main {
    margin: 20px 0 0;
    padding: 0;
  }

  .main-content__body-row {
    flex-flow: row wrap;
    padding-bottom: 0;
  }

  .main-item {
    margin: 0 0 20px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .left-sidebar,
  .right-sidebar {
    padding: 0;
  }

  .footer {
    margin: 0 0 20px;

    .footer-top,
    .footer-bottom {
      margin: 0;
    }

    .footer-widget {
      margin: 0 0 20px;
      width: 100%;
    }
  }
}