
.widget {
  margin: 0 0 20px;
  padding: 10px 20px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.5);
  color: #eeeeee;

  
  h3 {
    @include block-header;
  }

  p {
    line-height: 2em;
  }
}


.widget-search {
  form {
    position: relative;
    margin: 15px 0 7px;
  }

  .fa-search {
    position: absolute;
    margin-top: 1px;
    padding: 7px 9px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: #eeeeee;
  }

  input {
    box-sizing: border-box;
    padding: 7px 8px 7px 40px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05);
    color: #aaaaaa;
    text-overflow: ellipsis;
    font-size: 12px;

    &:focus {
      background: rgba(255, 255, 255, 0.2);
      color: #ffffff;
    }
  }
}


.widget-category__list {
  padding: 0;
  list-style: none;

  &-item {
    a {
      display: block;
      padding: 10px 0;
      border-radius: 4px;
      transition: padding-left 0.5s;

      &:hover {
        padding: 10px;
        background: rgba(0, 0, 0, 0.3);
        color: $main-color;
      }
    }
  }
}


.widget-news {
  &__item {
    margin-bottom: 10px;

    h4 {
      @include text-shortener;

      margin: 25px 0 10px;
      margin-bottom: 7px;
      text-shadow: 0px 0px 5px #000000;
      line-height: 1.5em;
      transition: color .3s;
    }

    img {
      width: 100%;
      transition: .3s;
    }

    div {
      line-height: 18px;
    }

    &-img-wrapper {
      float: left;
      overflow: hidden;
      margin: 0 10px 10px 0;
      width: 75px;
      height: 75px;
      border-radius: 4px;
    }

    span {
      color: #cccccc;
      text-shadow: 0px 0px 5px #000000;
      font-size: 12px;
    }

    a {
      &:hover {
        span {
          color: #ffffff;
        }

        img {
          transform: scale(1.2);
        }
      }
    }
  }
}


.left-sidebar {
  order: 1;
  box-sizing: border-box;
  padding: 20px 10px 0 0;
  width: $left-sidebar-width;
}


.right-sidebar {
  order: 3;
  box-sizing: border-box;
  padding: 20px 0 0 10px;
  width: $right-sidebar-width;
}

