
                $main-color: #e12727;
                $main-color-highlighted: darken($main-color, 10%);


              $global-width: 1280px;
        $left-sidebar-width: 250px;
       $right-sidebar-width: 240px;